* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----USAR ABAIXO PARA ALGO GERAL------
---QUANDO TEM A MESMA COR DE TEXTO OU DE FUNDO, FONTE, TAMANHO DE FONTE, POR EXEMPLO--- */

body {
    color: black;
    background-image: url(../exemplos/Screen\ Shot\ 2025-01-15\ at\ 17.43.23\ copy.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: sans-serif;
    font-size: 1.2rem;
}


.tudo {
    margin: 20px;
    display: grid;
    grid-template-areas: 
    "about stacks skills"
    "about formacoes skills"
    "about formacoes serv"
    "about proj proj"
    "about proj proj"
    "contatos proj proj";
    /* "about about skills skills skills formacoes"
    "about about skills skills skills formacoes"  
    "about about proj proj proj formacoes"
    "about about proj proj proj serv"
    "contatos tech proj proj proj serv"; */
    gap: 0.8rem; /* to tentando mudar isso e deixar a parte de about, contatos e stacks mais fina, e projetos ocupar mais espaço. Vou tentar fazer isso criando um grid para esses tres, e depois usando o resultado nesse grid normal*/
}

/* -----DETALHES POR SEÇÃO----- */

.about, .contatos, .stacks, .servicos, .formacoes, .projetos, .habilidades {
    border-radius: 5px;
    padding: 0.8rem;
    filter: drop-shadow(0 0 0.2rem rgba(73, 72, 72, 0.971));
    /* border: 3px solid black; se colocar essa borda fica uma estetica meio quadrinhos */
    /* margin: 10px; */
}

.about {
    grid-area: about;
    background-color:snow;
    /* background-color: rgba(120, 0, 163, 0.75); */
}

.about h1 {
    font-family: "Playwrite BR Guide";
}

.stacks {
    grid-area: stacks;
    background-color:snow;
    /* background-color: rgba(90, 196, 164, 0.8) */
}

.habilidades {
    grid-area: skills;
    background-color: snow;
    /* background-color: burlywood; */
}

.contatos {
    grid-area: contatos;
    background-color: snow;
    /* background-color: rgba(234, 99, 140, 0.8); */
}

.formacoes {
    grid-area: formacoes;
    background-color: snow;
    /* background-color: rgba(249, 200, 14, 0.75); */
    /* font-size: 8rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


.projetos {
    grid-area: proj;
    background-color: snow;
    /* background-color: rgba(63, 132, 229, 0.8); */
}

.servicos {
    grid-area: serv;
    background-color: snow;
    /* background-color:  rgba(242, 67, 51, 0.8); */
}

/* -----USAR ABAIXO QUANDO FOR PASSAR DE MOBILE PARA DESKTOP----- */

@media (min-width: 700px) {
    /* COLOCAR AQUI AS MUDANÇAS */
}
